@page "/"
@using OBBX.Shared.Models
@using OBBX.Shared.Services
@inject SettingsService AppSettings
@inject ISnackbar Snackbar

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<MudGrid>
    <MudItem xs="12">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h6">Status</MudText>
                <MudGrid>
                    <MudItem xs="6">
                        <MudPaper Class="pa-3 d-flex align-center gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.Circle" Color="@_challongeStatusColor"
                                Size="Size.Small" />
                            <MudText Typo="Typo.body2">Challonge API</MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Class="pa-3 d-flex align-center gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.Circle" Color="@_obsStatusColor" Size="Size.Small" />
                            <MudText Typo="Typo.body2">OBS WebSocket</MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Class="pa-3">
                            <MudText Typo="Typo.body2">Last Sync: 12:34:56</MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Class="pa-3">
                            <MudText Typo="Typo.body2"> Current URL - @_challongeUri</MudText>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </MudItem>


</MudGrid>

@code {
    private AppSettings _settings;
    private bool _challongeConnected = false;
    private bool _obsConnected = false;
    private Color _challongeStatusColor => _challongeConnected ? Color.Success : Color.Error;
    private Color _obsStatusColor => _obsConnected ? Color.Success : Color.Error;
    private string _challongeUri = "";
    private int _refreshInterval = 60;
    protected override async Task OnInitializedAsync()
    {
        _settings = await AppSettings.GetSettingsAsync();

        if (_settings.Challonge != null)
        {
            _challongeUri = _settings.Challonge.Uri;
            _refreshInterval = _settings.Challonge.RefreshIntervalSeconds;
        }

    }


}